* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
display: flex;
padding: 30px;
}
#postBtn {
	width: 100px;
}

.card {
	padding: 50px;
	border: 3px solid gray;
	margin-bottom: 10px;
}
.cardBtn {
	margin-top: 10px;
}